{% load getitem %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{form_subject.title}}</title>
	</head>
	<body style='line-height: 1.5;'>
		<h1>{{form_subject.title}}</h1>
		{% for field in form %}
			<b>{{ field.label }}:</b> {{formdate|getitem:field.name}}<br>
		{% endfor %}
		<b>IP:</b> {{ip}}<br>
		<b>HTTP referer:</b> {{referer}}<br>

		{# <pre style='font-size: 13px;'>{{ form }}</pre> #}
		
		<div style='background: #ffe; border: 1px solid silver; padding: 10px; margin: 10px; border-radius: 5px;'>
			<p>В течение 24 часов наш специалист свяжется с Вами и вышлет предварительное коммерческое предложение.</p>
			<p>Спасибо, что выбрали нас!</p>
			<p>Cостояние Вашей заявки Вы можете уточнить по телефону {{ form_subject.phone }} или по {{ form_subject.email }}</p>
		</div>

	</body>
</html>