{%extends 'base.html'%}
{% load i18n %}
{% block content %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdwTljqbO8MACG37C3oQqjXtYPYv4r8Ag&sensor=true"></script>
{# <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script> #}

<script type="text/javascript">
	var offices = [];

	function initialize() {
		var mapOptions = {
			zoom: 12,
			center: new google.maps.LatLng(52.512877944290010, 13.444519042968750),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
		setMarkers(map, offices);
	}

	function setMarkers(map, locations) {
		for (var i = 0; i < locations.length; i++) {
			var office = locations[i];
			var myLatLng = new google.maps.LatLng(office[1], office[2]);
			var marker = new google.maps.Marker({
				position: myLatLng,
				map: map,
				// shadow: shadow,
				// draggable: true,
				// icon: image,
				// shape: shape,
				title: office[0],
				// text: 'sdfsdfsf',
				zIndex: office[3]
			});
		}
	}
</script>

<h1>{% trans "Contacts" %}</h1>
	<div class="b-contacts-offices">
	{% for office in offices %}
		<div class="b-contacts-offices__office {% if office.main %}b-contacts-offices__office__main{% endif %}">
			<h3>{{ office.name }}</h3>
			<h4>{% trans "Contacts data" %}:</h4>


			{% if office.description %}
				<p class='b-contacts-office__description'>{{ office.description }}</p>
			{% endif %}

			{% if office.photo %}
				<img src="{{ office.photo.url }}" alt="{{ office.name }}" class='b-contacts-office__photo'>
			{% endif %}

			{% if office.phone %}
				<p>{% trans "Phone" %}: {{ office.phone }}</p>
			{% endif %}
			{% if office.email %}
				<p>{% trans "E-Mail" %}: {{ office.email }}</p>
			{% endif %}
			{% if office.address %}
				<p>{% trans "Address" %}: {{ office.address }}</p>
			{% endif %}
			{% if office.www %}
				<p>{% trans "WWW" %}: {{ office.www }}</p>
			{% endif %}

			{% if office.latitude and office.longitude %}
				<script>
					offices.push(['{{ office.name }}', {{ office.get_latitude }}, {{ office.get_longitude }}, {{ forloop.counter }}]);
				</script>

				<div class='b-contacts-map' id='map_canvas'></div>
				<script>initialize();</script>
			{% endif %}

		</div>
	{% endfor %}
</div>


<div class='b-contacts-form'>
	{%if ok%}
		<h3>{% trans "We received your message!" %}</h3>
	{%else%}
		<h3>{% trans "Sent message" %}</h3>
		<form method="post" action="">
			{% csrf_token %}
			{%if form.errors %}<h3><strong>{% trans "The message is not sent!" %}</strong></h3>{% endif %}
			{{ form.errors }}
			{{ form.management_form }}
			{% for field in form %}
				{{ field.id }}
				<ul>
					<li>{{ field.label }}</li>
					<li>{{ field }}</li>
				</ul>
			{% endfor %}
			<input type="submit" value='{% trans "Send" %}'>
		</form>
	{% endif %}
</div>

<style>
	aside {display: none;}
	section {width: 100%;}
</style>
{%endblock%}